.tableku{
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}

.tableku tr{
  display: flex;
  justify-content: space-between;
}

.tableku td{
  padding: 0.5rem;
}

.tableku tr:nth-of-type(odd){
  background-color: #f3f2f8;
}